* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg,  rgb(255,45,85), rgb(94, 92, 230));
}

.modal {
    margin: 10% 0 10% 0;
    background-color: rgb(242, 242, 247);
    position: relative;
    left: 25%;
    padding: 5vh;
    padding: 3vw;
    width: 50vw;
    box-shadow: 0 0 5px 0 #e2e2e2;
    height: 100%;
    
} 
 .titulo{
    margin-top: -25px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1vh;
    padding-bottom:1vh ;
} 


.input{
    padding: 10px 0;
}

.input-custom{
    background-color: rgb(242, 242, 247);
    border: none;
    width: 35vw;
    height: 40px;
    border-bottom: 1px solid rgb(44, 44,46);
    font: 23px Helvetica 
}
 
.botao-custom{
    position: relative;
    left: 80%;
    margin-top: 3vh;
    background-color: rgb(0, 132,255);
    height: 7vh;
    width: 10vw;
    border-radius: 8px;
    color:rgb(242, 242, 247);
    border: none;
}

.descriçao-custom{
    border: none;
    width: 30vw;
    margin: 10px 0;
    font: 20px Helvetica
}

footer{
    color: rgb(242, 242, 247);
    padding: 20px;
    background-color: rgb(44, 44, 46);
    text-align: center;
    box-shadow: 0 0 2px 0 rgb(44, 44, 46);
}